@tailwind base;
@tailwind components;
@tailwind utilities;

.wapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(79, 81, 89);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.cards{
     width: 90%;
     height: 90%;
     border-radius: 30px;
     background-color: rgb(59, 62, 70);
     display: flex;
}
.card1{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(35, 38, 47);
    width: 200px;
    height: 90%;
    padding-top: 20px;
    border-radius: 20px;
    margin:30px ;
    font: bold;
    padding: 20px;
    font-size: 600;
    gap: 10px;
}
.Assessmentt i{
    padding-right: 10px;
}
.chats i{
    padding-right: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 75%;
    color: white;
    background-color: rgb(35, 38, 47);
    margin-top: 30px;
    border-radius: 20px;
    font: bold;
    padding-left: 20px;
    
}
